<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="data.js"></script>
    <script src="angular.js"></script>
    <script src="client.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="GuessWhoController as guess">
        
        <div class="flexbox">
            <h1 ng-init="guess.initRand()">Who is {{guess.dispName}}?</h1>
        </div>
<p>Add a user:</p>
        <div class="flexbox">
        <form ng-submit="guess.submit(guess.personToAdd)">
        <input type="text" ng-model="guess.personToAdd.name" placeholder="Name">
        <input type="text" ng-model="guess.personToAdd.github" placeholder="Github Username">
        <input type="submit" id="submitBut">
        </form>
        </div>
<p>Search a user:</p>
        <div class="flexbox" id="searchIn">
<input type="text" placeholder="Search" ng-model="searchText">
        </div>
<p>This is: {{guess.personName}}</p>
<span  ng-repeat="person in guess.people | orderBy:'id' | filter: {name: searchText}">
<img ng-src="https://github.com/{{person.github}}.png?size=200" ng-click="guess.thisPerson(person)"
    ng-show="person.show" ng-mouseover="guess.nameIs(person)" ng-mouseenter="myStyle={'opacity':'0.5'}" ng-mouseleave="myStyle={'opacity':'1'}"
    ng-model="guess.personName" ng-style="myStyle">
        </span>
    </div>
</body>

</html>