<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="data.js"></script>
    <script src="angular.js"></script>
    <script src="client.js"></script>
</head>

<body>
    <div ng-controller="GuessWhoController as guess">
        
        <div class="flexbox">
            <h1 ng-init="guess.initRand()">Who is {{guess.dispName}}?</h1>
        </div>
<p>Add a user:</p>
        <div class="flexbox">
        <input type="text" ng-model="guess.newName" placeholder="Name">
        <input type="text" ng-model="guess.newGithub" placeholder="Github Username">
        <button id="submit" ng-click="guess.submit()" ng-focus="guess.newName">Submit</button>
        </div>
        <div>
        <img ng-repeat="person in guess.people | orderBy:'id'" 
             ng-src="https://github.com/{{person.github}}.png?size=200" 
             ng-click="guess.thisPerson(person)"
             ng-show="person.show">
        </div>
    </div>
</body>

</html>